
.usersPhoto {
    width: 70px;
    height: auto;
    padding-top: 10px;
}

.startAndEnd {
    margin-left: 15px;
    margin-right: 15px;
    color: blue;
    font-size: large;
    cursor: pointer;
}

.userName {
   padding-bottom: 15px;
}