.UsersBlock {
    display: flex;
    flex-direction: row;
}

.usersPhoto {
    width: 70px;
    height: auto;
    padding-top: 10px;
}

.startAndEnd {
    margin-left: 15px;
    margin-right: 15px;
    color: blue;
    font-size: large;
    cursor: pointer;
}

.userName {
    padding-bottom: 15px;
}
.userBlock {
    max-width: 200px;
    word-wrap:break-word;
}
.UserSearchBlock {
    padding-top: 30px;
    padding-left: 150px;
}