.ProfileInfo{
    display: grid;
    margin: 0 auto;
    width: 100%;
    grid-template-areas:
  "p t"
  "m m";
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 4fr 6fr;
}

.container {

    position: relative;
    width: 100%;
    max-width: 300px;

}

.post {
    padding: 10px;
    font-size: xx-large;
    font-weight: bold;

}

.block {
    padding: 10px;
}

.about {
    display: block;
    width: 100%;
    height: auto;

    padding-bottom: 5px;
}

.ProfileData {
    padding: 5px 0 15px 0;
}
.editProfile {
    background-color: aliceblue;
    font-size: 14px;
    border-radius: 10px;
}

.status {
    grid-area: m;
    padding-top: 15px;
    max-width: 300px;
}
.contact {
    padding-bottom: 5px;
}
.overlay {
    color: white;
    text-align: right;
    font-size: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: darkgray;
}
.bigPen {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container:hover .overlay {
    opacity: .5;
}

