.header {
    grid-area: h;

    }
    
    .header img {
      height: 50px;

    }

    .loginBlock {
        float: right;
        margin-top: 10px;
        margin-right: 50px;
    }
    .loginBlock a {
        color: green;
    }

    .logo {
        width: auto;
        padding-top: 5px;
        padding-left: 5px;

    }
    .AvatarLoginBlock{
        display: flex;
        flex-direction: row;
    }

    .avatar {
    padding-right: 15px;
    }

    .NavlinkButton{
        text-decoration: none;
    }
    .checkboxAndButtonBlock{
        display: flex;
        flex-direction: row;
    }