.header {
    grid-area: h;
    background-color: yellow;
    
    }
    
    .header img {
      height: 50px;
      
    }

    .loginBlock {
        float: right;
    }
    .loginBlock a {
        color: green;
    }