.nav {
    grid-area: n;

    padding: 20px;

}

.item {
    font-family: 'Concert One', cursive;
    font-size: 24px;
    margin-top: 15px;

}

.item a {
    color: black;
    color: #3f50b5;
    text-decoration: none;

}
.item a.activeLink {
    color: gold;
}