.friendsBlock {
    height: 100vh;
    padding-top: 15px;

}



.friend {
    padding-bottom: 10px;
    max-width: 200px;
    word-wrap:break-word;

}


.friends {
    font-family: 'Concert One', cursive;
    font-family: 'Jura', sans-serif;
    font-size: 16px;
    color: darkblue;
    font-weight: 700;
}

.usersPhoto {
    width: 70px;
    height: auto;
}

.startAndEnd {
    margin-left: 15px;
    margin-right: 15px;
    color: blue;
    font-size: large;
    cursor: pointer;
}