.Sidebar {

    padding-top: 50px;
    text-align: center;
    width: 100%;
}
.friends {
    font-family: 'Concert One', cursive;
    font-family: 'Jura', sans-serif;
    font-size: 22px;
    color: darkblue;
    font-weight: 700;
}