.loginPage {
    display: grid;
    margin: 0 auto;
    width: 100%;

    grid-template-areas: "l t";
    grid-auto-columns: auto;
}


.loginBlock {
    height: 100vh;
}

.loginForm {
    padding: 10px;

}

.loginForm input {
    margin: 5px;
}

.form {
    text-align: center;
    margin: 20px auto;
}

.error {
    text-align: center;
    color: red;
}

.testAccount {
    grid-area: t;
    padding: 10px;
    text-align: center;
    font-size: large;
}
