.dialogs {
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
}

.dialogsItem {
    padding: 10px;

}

.dialogsItem .active {
    color: gold;
}

.dialog {
    padding: 10px;
}

.messages {
    padding: 10px;
    color: white;
}

.message {

}

.ava {
    width: 50px;
    height: auto;
    border-radius: 30px;
}

.block {   /*Блок с кнопкой добалвения сообщений*/
    margin: 10px;
}